/* lg */
@media screen and (min-width:1200px){
	body{
	}
	#page,#sidebar{
	}
	#page{
		width:100%;
	}
	#nav{
		padding:0;
	}
	#bg_photo{
		padding:0!important;
	}
	footer{
	}
}

/* md */
@media screen and (max-width:1199px){
	h2.slogan{
		font-size:18px;
	}
	#nav .menu li a{
		font-size:13px;
	}

	#sidebar{
		transform:translateX(300px);
		-webkit-transform:translateX(300px);
	}
	#layout.visible{
		margin-left:-300px;
	}
	#layout.visible #sidebar{
		transform:translateX(0px);
		-webkit-transform:translateX(0px);
	}
	#layout.visible #overlay{
		height:100%;
		opacity:0.8;
	}
	#nav .left,#page{
		padding-right:0;
	}
	/*.bg-cadre {
		display: none;
	}*/

	.affich-carte {
		display: none;
	}
}

/* sm */
@media screen and (max-width:991px){
	#nav .menu li a{
		font-size:15px;
	}

	.tab-pane {
		border-left: none;
	}
}

@media screen and (min-width: 991px) {
	.transport {
		top: -70px;
	}
	.jeu-de-role {
		top: -20px;
	}
}

/* xs */
@media screen and (max-width:767px){
	#overlay.visible{
		height:0;
		opacity:0;
	}
	
	#bg_photo img{	
		min-height:100%;
		width:0;
	}
	.wrapper{
		width:100%;
		margin-left:0;
		height:auto;
	}
	#menu{
		height:auto;
	}
	
	#menu .lang{
		position:relative;
	}
		.menu{
		flex-direction:column;
		height:auto;
		margin:0;
	}
	.menu li{
		margin-top:1px;
	}
	
	#nav .menu{
		padding:0;
			margin-top:20px;
	}
	#nav .menu li a{
		padding-left:20px;
		height:40px;
		background:#333;
	}
	
	#nav .menu li a, footer .menu li a{
		font-size:21px;
	}
	.sep_point{
		display:none;
	}
	#logo,#menu{
		clear:both;
	}
	#nav{
		position:relative;
	}
	#nav .wrapper{
		padding-left:0;
		height:auto;
	}
	#logo{
		margin-left:20px;
		position:relative;
		z-index:50;
	}
	#menu{
		margin-top: 40px;
	}
	#content{
		padding:20px;
		margin-bottom:0;
	}
	footer img{
		width:100%;
	}
	footer .bg_foot{
		background:#333333;
		padding:0 20px;
	}
	footer ul.menu{
		flex-direction:column;
		top:0;
		font-size:16px;
		padding:0;
		width:auto;
	}
	
	.bloc_partenaires{
		margin-top:0;
		width:auto
	}
	
	.bloc_partenaires p{
		display:flex;
		flex-direction:column;
	}
	#menu .head{
		display:flex;
	}
	.lang,.connexion{
		width:50%;
		padding:10px;
		height:44px;
		text-align:center;
		position:relative;
	}
	
	
	#submenu{
		top:0px;
		height:auto;
		display:none;
	}
	
	#submenu .panel{
		height:auto;
		top:0;
	}
	
	#submenu .panel .panel-heading{
		height:44px;
		padding:10px 20px;
	}
	
	#submenu div.panel-body{
	 position: relative;
		height:auto;
		min-height:100px;
	 display:flex;
		
	 top:0;
		
	 z-index:99;
		
	 flex-direction: column-reverse;
}
#submenu div.panel-body .right{
		margin-top:20px;
}

#submenu div.panel-body .left{
	background:#fff;
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	height:150px;
	width:100%;
}

#submenu div.panel-body .left img{
	height:100%;
}

ul#page-dragend li{
	margin:auto;
	width:100%;
}

}
