/* TRANSITIONS */
#sidebar
,#nav .left
,#page
,#layout
,footer{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}


/****************************** GENERAL ******************************/

html, body, .container, .row.cent, #page, #sidebar, .cent{
	height: 100%;
}

.cinquante {
	height: 50%;
}

.w_cent {
	width: 100%;
}

.white {
	background-color: #fff;
}

#layout,#nav{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#page,#nav .left{
	position:relative;
	float:none;
	display:table-cell;
	z-index: 10;
	width:100%;
	padding-right:300px;
}
#sidebar,#nav .right{
	/* float:none; */
	display:table-cell;
	width:300px;
}


.container {
}

.wrapper{
	float:left;
	margin-left:8%;
	width:92%;
}

.wrapper.reset{
	margin:auto;
	width:100%;
}

.reset{
	margin:0;
	padding:0;
}

#content{
    height: 100%;
}

.left{
	float:left;
}

#overlay{
	background:#000;
	position:fixed;
	top:100px;
	height:0%;
	width:100%;
	z-index:20;
	opacity:0;
	transition: opacity 0.5s ease, height 0	0.5s;
}

#overlay.visible{
	transition: opacity 0.5s ease, height 0;
	height:100%;
	opacity:0.8;
}

.block {
	display: block;
}

strong {
	font-weight: bold;
}

.fixed {
	position: fixed;
	z-index: 999;
}

.col-md-12 {
}

#nav, #logo, #menu {
	height: 100px;
	z-index:500;
}

.lang{
	display:flex!important;
	align-items: center;
	justify-content: center;
	width:6%;
	position:absolute;
	height:100%;
}

#logo{
	max-width:230px;
	float:left;
	margin-left:-230px;
}

#logo img{
	width:100%;
	max-width:230px;
}


/****************************** MENU ******************************/

#menu{
	background:#fff;
	float:left;
	width:100%;
}
#nav .wrapper{
	position:relative;
	z-index:99;
	height:100px;
	background-color: #fff;
	padding-left:230px;
}

#menu .head{
	display:none;
	flex-direction:row;
	align-items:center;
	justify-content:justify;
	width:100%;
	padding:0;
	margin:0;
}
#menu .head li{
	width:50%;
	text-align: center;
}

#nav{
	width:100%;
	position:fixed;
	background-color: #fff;
}

#sidebar {
	position: fixed;
	right: 0;
	z-index: 990;
	min-width:296px;
	max-width:300px;
}

#bg_photo {
	background: url(../img/doubs_combe.jpg) center center no-repeat;
	background-size: cover;
	z-index: -1;
	position: fixed;
	padding-top: 100px;
	width:100%;
}

#bg_photo img{
	width:100%;
	display:none;
}

.dropdown-toggle{
	font-size:2.5em;
	padding:1%;
	margin-right:5px;
	height:100px;
	position:absolute;
	top:50px;
	right:5%;
}

.dropdown-toggle a{
	color:#ff002a;
}

.test {
	display: block;
	position: absolute;
	width: 100%;
}

.submenu{
	position:relative;
	z-index:0;
	background:0;
	top: 100px;
}

.submenu > div {
	position:absolute;
	height: 400px;
	background-color: #9925aa;
	max-width:875px;
}

#nav .menu {
	display: flex;
	line-height: 34px;
	padding-left: 20px;
	list-style: none;
	border: none;
	text-align: left;
	justify-content: flex-start;
}

#nav .menu > li:last-child {
	margin-left: auto;
	margin-right:10px;
}

#nav .menu li a{
	padding-left: 10px;
	color: #ff002a;
	font-size: 21px;
	text-decoration: none;
	display:block;
}

.menu li a{
	color: #ff002a;
		text-decoration: none;

}

#nav li.connexion a,li.connexion a{
	display:inline;
	color: #272727;
	text-transform: uppercase;
	font-size: 12px!important;
	font-weight: bold;
}

.sep_point {
	padding-left: 10px;
	font-size: 18px;
	color: #ff002a;
	font-weight: 600;
}

#sentier {
	background: url(../img/bg_menu_sentiers_inner.jpg) right top no-repeat;
	border-radius: 0px 0px 10px 10px;
}

.padding_submenu {
	padding: 5px 25px;
}

.titre_submenu {
	margin: 0px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.img_submenu {
	border: 3px solid white;
	position: absolute;
	z-index: 10;
	min-height: 94px;
}

.submenu_hover:hover .img_submenu {
	display: none;
}

.submenu_hover {
	position: relative;
}

.submenu_left img{
	width:218px;
	max-width:218px;
}

.txt_submenu {
	z-index: 20;
	min-height: 94px; 
}

.submenu a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.txt_submenu h6 {
	text-transform: uppercase;
	color: #ff002a;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	margin-top: 0px;
	padding-bottom: 4px;
	padding-top: 2px;
	background: url(../img/sep_menu_sentier.png) bottom no-repeat;
}

.txt_submenu p {
	font-family: "Tahoma";
	font-size: 11px;
	padding: 2px;
}

#horlogeur {
	color: #731058;
}

#bricotte {
	color: #951133;
}

#gabelous {
	color: #9EA534;
}

#colporteur {
	color: #007BC4;
}

/* SIDEBAR */

#sidebar {
	background-color: #FF002A;
}

#showSideBar.button{
	display:block;
	width:50px;
	height:50px;
	background:#000;
	position:absolute;
	left:-50px;
	top:50%;
}
#showSideBar.button a{
	display:block;
	width:100%;
	height:100%;
}

.citation {
	padding: 20px;
	height:100px;
	position:relative;
	z-index:99;
	background:#FF002A;
}

.citation .quote {
	color: #fff;
	font-style: italic;
	font-size: 12px;
}

.citation .auteur {
	color: #fff;
	font-style: italic;
	font-size: 10px;
}

/** position absolute pour les deux images (ancré en haut et en bas) dans le meme bloc**/

.images_parc {
	position: relative;
	height: 100%;
}

.parc {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
}

.parc_pub {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 100px;
}

.max-width300 {
	max-width: 300px;
	margin: auto;
}

.case_submenu {
	display: flex;
}
/****************************** FOOTER ******************************/
footer {
	bottom: 0;
	z-index:10;
	background-color: #333;	
	position:relative;
	width:100%;
	z-index:10;
	background-color: #333;
}

.bg_foot {
	background: #333333 url(../img/bg_footer.png) center 15px no-repeat;
}

footer ul.menu {
	color: #ff002a;
	text-transform: uppercase;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	position:relative;
	margin:auto;
	top: 58px;
	width: 600px;
	list-style: none;
}

footer .menu li {
	font-weight: bold;
}

.bloc_partenaires a, bloc_partenaires a:hover {
	color: #ff002a;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.bloc_partenaires {
	color: #fff;
	margin:auto;
	width:600px;
	margin-top: 75px;
	font-size: 12px;
}

/****************************** ACCUEIL ******************************/

h2.slogan {
	color: #797979;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	padding-left: 20px;
	background: transparent url(../img/sep_menu_accroche.png) bottom left no-repeat;
}

#accordion .panel{
	border:0;
}

#accordion .panel-heading{
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

#content{
	margin-top: 100px;
	padding-top:50px;
	/* min-height:100%; */
	/* margin-bottom: 200px; */
	position:relative;
	z-index:10;
}

.gras {
	font-weight: bold;
}

.deroul {
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

/* ---------------- A EFFACER APRES DEV --------------------


#lang {
	border: 4px solid #e09721;
}

#logo {
	border: 4px solid #49a043;
}

#menu {
	border: 4px solid #434ea0;
}*/

/*#page {
	background-color: grey;
}*/
