/* TRANSITIONS */
#sidebar
,#nav .left
,#page{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}


/****************************** GENERAL ******************************/

html, body, .container, .row.cent, #page, #sidebar, .cent{
	height: 100%;
}

#layout,#nav{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#page,#nav .left{
	float:none;
	display:table-cell;
	z-index: 10;
	width:100%;
	padding-right:300px;
}
#sidebar,#nav .right{
	/* float:none; */
	display:table-cell;
	width:300px;
}


.container {
}

.wrapper{
	float:left;
	margin-left:8%;
	width:92%;
}

.wrapper.reset{
	margin:auto;
	width:100%;
}

.reset{
	margin:0;
	padding:0;
}

#content{
}

.left{
	float:left;
}

#overlay{
	background:#000;
	position:fixed;
	top:100px;
	height:0%;
	width:100%;
	z-index:20;
	opacity:0;
	transition: opacity 0.5s ease, height 0	0.5s;
}

#overlay.visible{
	transition: opacity 0.5s ease, height 0;
	height:100%;
	opacity:0.8;
}

.block {
	display: block;
}

strong {
	font-weight: bold;
}

.fixed {
	position: fixed;
	z-index: 999;
}

.col-md-12 {
}

#nav, #logo, #menu {
	height: 100px;
	z-index:500;
}

#lang{
	display:flex;
	align-items: center;
	justify-content: center;
	width:6%;
	position:absolute;
	height:100%;
}


#logo img{
	width:100%;
	max-width:230px;
}


/****************************** MENU ******************************/

#menu{
	background:#fff;
}

#nav .wrapper{
	position:relative;
	z-index:99;
	height:100px;
	background-color: #fff;
}

#nav{
	width:100%;
	position:fixed;
	background-color: #fff;
}

#sidebar {
	position: fixed;
	right: 0;
	z-index: 990;
	min-width:296px;
	max-width:300px;
}

#bg_photo {
	background: url(../img/doubs_combe.jpg) center center no-repeat;
	background-size: cover;
	z-index: -1;
	position: fixed;
	padding-top: 100px;
	width:100%;
}

#bg_photo img{
	width:100%;
	display:none;
}

.test {
	display: block;
	position: absolute;
	width: 100%;
}

.submenu{
	position:relative;
	z-index:0;
	background:0;

}

.submenu > div {
	position:absolute;
	height: 400px;
	background-color: #9925aa;
}

.menu {
	display: flex;
	height: 34px;
	line-height: 34px;
	padding-left: 20px;
	list-style: none;
	border: none;
	text-align: left;
	justify-content: flex-start;
}

.menu > li:last-child {
	margin-left: auto;
	margin-right:10px;
}

.menu > li:last-child a {
	color: #272727;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.menu li a{
	padding-left: 10px;
	color: #ff002a;
	font-size: 21px;
	text-decoration: none;
}

.sep_point {
	padding-left: 10px;
	font-size: 18px;
	color: #ff002a;
	font-weight: 600;
}

/* SIDEBAR */

#sidebar {
	background-color: #FF002A;
}

.citation {
	padding: 20px;
	height:100px;
	position:relative;
	z-index:99;
	background:#FF002A;
}

.citation .quote {
	color: #fff;
	font-style: italic;
	font-size: 12px;
}

.citation .auteur {
	color: #fff;
	font-style: italic;
	font-size: 10px;
}

/** position absolute pour les deux images (ancré en haut et en bas) dans le meme bloc**/

.images_parc {
	position: relative;
	height: 100%;
}

.parc {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
}

.parc_pub {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 100px;
}

#sidebar .container-fluid {
	padding: 0px;
}

/****************************** FOOTER ******************************/
footer {
	height: 120px;
	bottom: 0;
	z-index:10;
	background-color: #333;	
	position:relative;
	z-index:10;
	background-color: #333;
}

.bg_foot {
	background: #333333 url(../img/bg_footer.png) center 15px no-repeat;
}

ul.menu_footer {
	color: #ff002a;
	text-transform: uppercase;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	position:relative;
	margin:auto;
	top: 58px;
	width: 600px;
	list-style: none;
}

.menu_footer li {
	font-weight: bold;
}

.bloc_partenaires a, bloc_partenaires a:hover {
	color: #ff002a;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.bloc_partenaires {
	color: #fff;
	margin:auto;
	width:600px;
	margin-top: 75px;
	font-size: 12px;
}

/****************************** ACCUEIL ******************************/

h2.slogan {
	color: #797979;
	font-weight: 300;
	font-style: italic;
	font-size: 21px;
	padding-left: 20px;
	background: transparent url(../img/sep_menu_accroche.png) bottom left no-repeat;
}

.deroul {
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

#content.accueil {
	margin-top: 100px;
	padding-top:50px;
	margin-bottom: 200px;
	position:relative;
	z-index:10;
}

.gras {
	font-weight: bold;
}

.deroul {
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

/* ---------------- A EFFACER APRES DEV --------------------


#lang {
	border: 4px solid #e09721;
}

#logo {
	border: 4px solid #49a043;
}

#menu {
	border: 4px solid #434ea0;
}*/

/*#page {
	background-color: grey;
}*/
