/****************************** GENERAL ******************************/

html, body, .container, .row.cent, #page, #sidebar, .cent{
	height: 100%;
}

.container {
	width: 100%;
}

#overlay{
	background:#000;
	position:fixed;
	top:100px;
	height:100%;
	width:100%;
	z-index:20;
	opacity:0;
	
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-moz-transition:0.5s;
	-mz-transition:0.5s;
	-o-transition:0.5s;
	
}

#overlay.visible{
	opacity:0.8;
}

.fixed {
	position: fixed;
}

.block {
	display: block;
}

.gras {
	font-weight: bold;
}

.fixed {
	position: fixed;
	z-index: 999;
}

.col-md-12 {
	padding: 0;
}

#nav, #logo, #lang, #menu {
	height: 100px;
	z-index:999;
	position:relative;
}

#page {
	z-index: 10;
}

/****************************** MENU ******************************/

.navigation {
	z-index: 999;
}

#nav .wrapper{
	position:relative;
	z-index:99;
	height:100px;
	background-color: #fff;
}

#lang {
	padding-top: 65px;
}

#sidebar {
	position: fixed;
	right: 0;
	z-index: 10;
}

#bg_photo {
	/*background: url(../img/doubs_combe.jpg) top left no-repeat;
	background-size: cover;*/
	z-index: -1;
	position: fixed;
	margin-top: 100px;
}

.test {
	display: block;
	position: absolute;
	width: 100%;
}

.submenu{
	position:relative;
	z-index:0;
	background:0;
	
}

.submenu > div {
	position:absolute;
	height: 400px;
	background-color: #9925aa;
}

.menu {
	display: flex;
	height: 34px;
	line-height: 34px;
	padding-left: 20px;
	list-style: none;
	border: none;
	text-align: left;
	justify-content: flex-start;
}

.menu > li:last-child {
	margin-left: auto;
}

.menu > li:last-child a {
	color: #272727;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.menu li a{
	padding-left: 10px;
	color: #ff002a;
	font-size: 21px;
	text-decoration: none;
}

.sep_point {
	padding-left: 10px;
	font-size: 18px;
	color: #ff002a;
	font-weight: 600;
}

/* SIDEBAR */

#sidebar {
	background-color: #FF002A;
}

.citation {
	padding-top: 20px;
}

.citation .quote {
	color: #fff;
	font-style: italic;
	font-size: 12px;
}

.citation .auteur {
	color: #fff;
	font-style: italic;
	font-size: 10px;
}

/** position absolute pour les deux images (ancré en haut et en bas) dans le meme bloc**/

.images_parc {
	position: relative;
	height: 100%;
}

.parc {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
}

.parc_pub {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#sidebar .container-fluid {
	padding: 0px;
}

/****************************** FOOTER ******************************/

footer {
	background-color: #333;
	height: 120px;
	position: absolute;
	bottom: 0;
}

.foot {
	height: 120px;
}

.bg_foot {
	background: #333333 url(../img/bg_footer.png) center 15px no-repeat;
}

ul.menu_footer {
	color: #ff002a;
	text-transform: uppercase;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.bloc_menu_footer {
	position: absolute;
	top: 58px;
	left: 108px;
	width: 600px;
}

.menu_footer li {
	list-style: none;
	font-weight: bold;
}

.bloc_partenaires a, bloc_partenaires a:hover {
	color: #ff002a;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.bloc_partenaires {
	color: #fff;
	margin-top: 90px;
	margin-left: 90px;
	font-size: 12px;
}

/****************************** ACCUEIL ******************************/

#bg_photo {
	/*background: url(../img/doubs_combe.jpg) top left no-repeat;
	background-size: cover;*/
	z-index: 1;
	position: fixed;
	margin-top: 100px;
}

.photo_fond {
	display: block;
	position: absolute;
	width: 100%;
}

h2.slogan {
	color: #797979;
	font-weight: 300;
	font-style: italic;
	font-size: 21px;
	padding-left: 20px;
	background: transparent url(../img/sep_menu_accroche.png) bottom left no-repeat;
}

.deroul {
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

#contenu_accueil {
	margin-top: 50px;
	margin-bottom: 200px;
	position:relative;
	z-index:10;
}

.gras {
	font-weight: bold;
}

.deroul {
	background-color: #ff002a;
	height: 50px;
	color: white;
}

.txt_accueil {
	background-color: rgba(255,255,255,0.85);
	height: 300px;
}

/* ---------------- A EFFACER APRES DEV --------------------


#lang {
	border: 4px solid #e09721;
}

#logo {
	border: 4px solid #49a043;
}

#menu {
	border: 4px solid #434ea0;
}*/

/*#page {
	background-color: grey;
}*/
